<h1>Drużyny</h1>
<% if logged_in? %>
<%= link_to 'Dodaj drużynę', new_team_path %>
<% end %>
<table>
  <tr>
    <th>nazwa</th>
    <th>gracz 1</th>
    <th>gracz 2</th>
    <% if logged_in? %>
        <th></th>
        <th></th>
    <% end %>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.name, team %></td>
    <td><%= team.player1 %></td>
    <td><%= team.player2 %></td>
    <% if logged_in? %>
      <td><%= link_to 'Edytuj', edit_team_path(team) %></td>
      <td><%= link_to 'Skasuj', team, method: :delete, data: { confirm: 'Skasować?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>