<div id="login">
	<% if current_user %>
		Zalogowany jako <%= current_user.username %>. 
		<%= link_to "Wyloguj", logout_path %>
	<% else %>
		<%= form_tag sessions_path do %>
		    U: <%= text_field_tag :username, params[:username] %>
		    P: <%= password_field_tag :password %>
		    <%= submit_tag "Log in" %>
		<% end %>
	<% end %>
</div>